.section {
  max-width: 130rem;
  margin: 0px auto;
  margin-top: 6.4rem;
  background-color: #f6f7f9;
  border-radius: 2.4rem;
  padding: 7.8rem 3.6rem 3.6rem 3.6rem;
  position: relative;
  padding-bottom: 20rem;
  /* font-family: sans-serif; */
}

.container {
  display: flex;
}

.content {
  max-width: 48%;
  margin: 1%;
}

.img {
  max-width: 48%;
  margin: 1%;
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
}

.imgBig {
  width: 28rem;
  border-radius: 32px;
}

.imgSmall {
  width: 28rem;
  margin-top: 4.8rem;
}

.content h1 {
  margin-bottom: 1.2rem;
  font-size: 6.4rem;
  line-height: 6rem;
  color: #677f3f;
  padding-bottom: 1.6rem;

  transform: translateY(50px);
  opacity: 0;
  animation: textUp linear forwards;
  animation-timeline: view();
  animation-range: entry 50px;
}

.content p {
  margin-top: 4.8rem;
  font-size: 2.2rem;
  line-height: 3.4rem;

  transform: translateY(50px);
  opacity: 0;
  animation: textUp linear forwards;
  animation-timeline: view();
  animation-range: entry 50px;
}

.content span {
  font-weight: bold;
  font-size: 2.2rem;
  color: #677f3f;
}

.content ul {
  margin-top: 4.6rem;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 600;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content ul li {
  padding-bottom: 1.8rem;

  transform: translateY(50px);
  opacity: 0;
  animation: textUp linear forwards;
  animation-timeline: view();
  animation-range: entry 50px;
}

.content ul li::before {
  content: "✓";
  padding-right: 1rem;
}

/* .btn {
  margin-top: 3.6rem;

  background-color: #cdfe7d;
  color: #000;

  font-size: 1.8rem;
  font-weight: 700;
  padding: 2rem 3.6rem;

  border-radius: 1.2rem;
  border: none;
} */

/* .services h3 {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
} */

.services h1 {
  text-align: center;
  color: #677f3f;
  margin-top: 1.2rem;
  font-size: 6.4rem;
  line-height: 6rem;
  transform: translateY(50px);
  opacity: 0;
  animation: textUp linear forwards;
  animation-timeline: view();
  animation-range: entry 50px;
}

.serviceContainer {
  margin-top: 3.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  position: absolute;
  right: 4rem;
  left: 4rem;

  transform: translateX(50px);
  opacity: 0;
  animation: textUp linear forwards;
  animation-timeline: view();
  animation-range: entry 50px;
}

.card {
  background-color: #fff;
  padding: 3.6rem;
  text-align: center;
  border-radius: 2.4rem;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
}

.icon {
  width: 6.4rem;
  height: 6.4rem;
  background-color: #cdfe7d;
  border-radius: 1.2rem;
  display: inline-block;
  padding: 0.6rem;
}

.icon svg {
  width: 4.8rem;
}

.card h2 {
  margin-top: 2.4rem;
  font-size: 2.4rem;
  font-weight: 900;
}

.card p {
  font-size: 1.6rem;
  margin-top: 1.8rem;
  line-height: 2.4rem;
}

.card span {
  font-size: 6.4rem;
}

@media (max-width: 1300px) {
  .section {
    margin: 0 2.4rem;
  }
}

@media (max-width: 912px) {
  .container {
    flex-direction: column;
    gap: 2.4rem;
  }

  .content {
    max-width: 100%;
    margin: 0;
  }

  .content h1 {
    line-height: 8rem;
  }

  .img {
    max-width: 100%;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    gap: 1.8rem;
  }

  .imgBig {
    justify-self: end;
  }
}

@media (max-width: 750px) {
  .serviceContainer {
    grid-template-columns: repeat(2, 1fr);
    position: static;
  }

  .section {
    padding-bottom: 3.6rem;
  }
}

@media (max-width: 500px) {
  .imgBig {
    max-width: 100%;
  }

  .imgSmall {
    max-width: 100%;
  }

  .serviceContainer {
    grid-template-columns: 1fr;
  }

  .services h1 {
    font-size: 4.8rem;
  }

  .card h2 {
    font-size: 3.6rem;
  }

  .card p {
    font-size: 2.4rem;
  }

  .card span {
    font-size: 7.4rem;
  }
}

@keyframes textUp {
  to {
    transform: translate(0);
    opacity: 1;
  }
}
