.section {
  max-width: 130rem;
  margin: 0px auto;
  margin-top: 6.4rem;
  background-color: #f6f7f9;
  border-radius: 2.4rem;
  padding: 7.8rem 3.6rem 3.6rem 3.6rem;
  position: relative;
  padding-bottom: 20rem;
}

.container {
  display: flex;
}

.content {
  max-width: 48%;
  margin: 1%;
}

.img {
  max-width: 48%;
  margin: 1%;
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
}

.imgBig {
  width: 28rem;
  border-radius: 32px;
}

.imgSmall {
  width: 28rem;
  margin-top: 4.8rem;
}

.content h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

.content h1 {
  margin-top: 1.2rem;
  font-size: 6.4rem;
  line-height: 6rem;
}

.content p {
  margin-top: 1.8rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.content ul {
  margin-top: 2.4rem;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 600;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content ul li {
  padding-bottom: 1rem;
}

.content ul li::before {
  content: "✓";
  padding-right: 1rem;
}

.btn {
  margin-top: 3.6rem;

  background-color: #cdfe7d;
  color: #000;

  font-size: 1.8rem;
  font-weight: 700;
  padding: 2rem 3.6rem;

  border-radius: 1.2rem;
  border: none;
}

.services h3 {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

.services h1 {
  text-align: center;
  margin-top: 1.2rem;
  font-size: 6.4rem;
  line-height: 6rem;
}

.serviceContainer {
  margin-top: 3.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  position: absolute;
  right: 4rem;
  left: 4rem;
}

.card {
  background-color: #fff;
  padding: 3.6rem;
  text-align: center;
  border-radius: 2.4rem;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
}

.icon {
  width: 6.4rem;
  height: 6.4rem;
  background-color: #cdfe7d;
  border-radius: 1.2rem;
  display: inline-block;
}

.card h2 {
  margin-top: 2.4rem;
  font-size: 2.4rem;
  font-weight: 900;
}

.card p {
  font-size: 1.6rem;
  margin-top: 1.8rem;
  line-height: 2.4rem;
}

.card span {
  font-size: 6.4rem;
}
