.container {
  max-width: 130rem;
  margin: 0 auto;
}

.navbar {
  padding: 3.6rem 0px;
}

.navbar ul {
  display: flex;
  gap: 3.6rem;
  justify-content: center;
  list-style: none;
}

.navbar ul li {
  font-size: 1.8rem;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 50%;
}

.mainPhoto {
  width: 50%;
}

.content h1 {
  font-size: 9.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.content p {
  font-size: 1.8rem;
  margin-top: 2.4rem;
  line-height: 2.6rem;
  font-weight: 500;
}

.btn {
  margin-top: 2.4rem;

  background-color: #cdfe7d;
  color: #000;

  font-size: 1.8rem;
  font-weight: 700;
  padding: 2.4rem;

  border-radius: 1.2rem;
  border: none;
}

/*Windows 1300px*/

@media (max-width: 1300px) {
  .container {
    padding: 3.6rem;
  }
}

/*1000px*/

@media (max-width: 1000px) {
  .navbar {
    padding: 1.6rem 0 2.6rem 0;
  }
  .banner {
    gap: 2.4rem;
  }
}

/*650*/
@media (max-width: 700px) {
  .banner {
    flex-direction: column-reverse;
  }

  .content {
    width: 100%;
    text-align: center;
  }
}
